/* .card {
  max-width: 30vw;
  min-width: 20vw;
  margin: 0.5rem;
} */

.edit-btn {
  display: flex;
  justify-content: right;
  color: #d9d9d9;
  padding-right: 0px;
  padding-top: 0px;
}

.edit-btn:hover {
  color: black;
}

.card-title {
  /* Google font - import */
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.card {
  margin-bottom: 1vh;
}

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 30px;
  }
}
