@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: cornflowerblue;
  min-height: 100vh;
  color: whitesmoke;
}

h1 {
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.pet-container {
  margin-bottom: 2vh;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .card {
  max-width: 20vw;
} */

.my-float-button {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  position: fixed;
  bottom: 4vmin;
  right: 4vmin;
  box-shadow: 7px 7px 30px -6px rgba(0, 0, 0, 0.65);
}
